<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Map Service</title>
<script
	src="https://cesium.com/downloads/cesiumjs/releases/1.75/Build/Cesium/Cesium.js"></script>
<link
	href="https://cesium.com/downloads/cesiumjs/releases/1.106/Build/Cesium/Widgets/widgets.css"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
	integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/map.css">
<script src="/js/map.js"></script>

</head>
<body>
	<div class="cesium-search-area" id="search-area">
		<input type="text" placeholder="주소를 입력하세요" id="search-address"
			class="cesium-search-address"></input>
		<button type="button" id="search-button" class="cesium-search-button">검색</button>
		<div id="result-area" class="cesium-result-area">
			<div class="cesium-result-box disappear"></div>
		</div>
	</div>

	<div id="cesiumContainer" class="fullSize"></div>





</body>
</html>